##**5.8 - Acréscimo de variáveis**

In [0]:
import pandas as pd

df = pd.read_csv('df_OVNI_limpo.csv')

#Retirando coluna indesejada
del df['Unnamed: 0']

###**Dividir conteúdo da coluna Date Time em duas novas colunas. A primeira deve se chamar Sight_Date (Data) e Sight_Time (Hora)**

In [34]:
#Criando coluna no dataframe somente ano
df['Sight_Date'] = pd.to_datetime(df['Date / Time']).dt.strftime('%m/%d/%y')
#Criando coluna no dataframe somente hora
df['Sight_Time'] = pd.to_datetime(df['Date / Time']).dt.strftime('%H:%M')

         Date / Time              City State     Shape Sight_Date Sight_Time
0      9/30/97 22:00           Madison    WI     Light   09/30/97      22:00
1      9/28/97 23:15     San Francisco    CA  Triangle   09/28/97      23:15
2      9/27/97 23:00              Egan    SD     Other   09/27/97      23:00
3      9/27/97 05:00         Crestwood    KY      Disk   09/27/97      05:00
4      9/25/97 22:00        Clearfield    UT  Triangle   09/25/97      22:00
...              ...               ...   ...       ...        ...        ...
77897   8/1/17 14:00            Joliet    IL     Other   08/01/17      14:00
77898   8/1/17 06:15  Columbus (North)    GA  Fireball   08/01/17      06:15
77899   8/1/17 02:45          Corcoran    MN     Light   08/01/17      02:45
77900   8/1/17 02:00     Moreno Valley    CA     Other   08/01/17      02:00
77901   8/1/17 01:00         Bradenton    FL     Other   08/01/17      01:00

[77902 rows x 6 columns]

###**Excluir coluna Date Time do DataFrame**

In [35]:
df = df.drop(['Date / Time'], axis=1)

                   City State     Shape Sight_Date Sight_Time
0               Madison    WI     Light   09/30/97      22:00
1         San Francisco    CA  Triangle   09/28/97      23:15
2                  Egan    SD     Other   09/27/97      23:00
3             Crestwood    KY      Disk   09/27/97      05:00
4            Clearfield    UT  Triangle   09/25/97      22:00
...                 ...   ...       ...        ...        ...
77897            Joliet    IL     Other   08/01/17      14:00
77898  Columbus (North)    GA  Fireball   08/01/17      06:15
77899          Corcoran    MN     Light   08/01/17      02:45
77900     Moreno Valley    CA     Other   08/01/17      02:00
77901         Bradenton    FL     Other   08/01/17      01:00

[77902 rows x 5 columns]

###**Acrescentar uma coluna com dias da semana nomeada de Sight_Weekday**

In [0]:
df['Sight_Weekday'] = pd.to_datetime(df['Sight_Date']).dt.dayofweek

dias = {
    0: 'Segunda-Feira',
    1: 'Terça-Feira',
    2: 'Quarta-Feira',
    3: 'Quinta-Feira',
    4: 'Sexta-Feira',
    5: 'Sábado',
    6: 'Domingo'
}

df = df.replace({'Sight_Weekday': dias})

###**Criar coluna com dia e uma coluna de mês**

In [0]:
#Coluna para criar o dia da semana
df['Sight_Day'] = pd.to_datetime(df['Sight_Date']).dt.strftime('%d')
#Coluna para criar o mes
df['Sight_Month'] = pd.to_datetime(df['Sight_Date']).dt.strftime('%m')

###**Salvar o dataframe**

In [0]:
df.to_csv('df_OVNI_preparado', index = False)